@font-face {
    font-family: 'LibraRegular';
    src: url('libra-bt-webfont.eot');
    src: url('libra-bt-webfont.eot?#iefix') format('embedded-opentype'),
         url('libra-bt-webfont.woff') format('woff'),
         url('libra-bt-webfont.ttf') format('truetype'),
         url('libra-bt-webfont.svg#LibraRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'aaaorRegular';
    src: url('aaaor-webfont.eot');
    src: url('aaaor-webfont.eot?#iefix') format('embedded-opentype'),
         url('aaaor-webfont.woff') format('woff'),
         url('aaaor-webfont.ttf') format('truetype'),
         url('aaaor-webfont.svg#aaaorRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'AloisLightRegular';
    src: url('alois-light-webfont.eot');
    src: url('alois-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('alois-light-webfont.woff') format('woff'),
         url('alois-light-webfont.ttf') format('truetype'),
         url('alois-light-webfont.svg#AloisLightRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'TolkienesqueRegular';
    src: url('tolkien-webfont.eot');
    src: url('tolkien-webfont.eot?#iefix') format('embedded-opentype'),
         url('tolkien-webfont.woff') format('woff'),
         url('tolkien-webfont.ttf') format('truetype'),
         url('tolkien-webfont.svg#TolkienesqueRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* * {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}
*/

.actionMenu {
	left: 690px;
	top: 10px;
	z-index: 10;
	position: absolute;
	border-style: solid;
	border-width: 1px;
	padding: 5px;
	margin: 5px;
	width: auto;
	float: right;
	border-radius: 10px;	
	box-shadow: 3px 2px 3px #555555; 
    background-color: #fff;
	
	text-align: center;
}
.contextMenu 
{
	z-index: 10;
	position: absolute;
	border-style: solid;
	border-width: 1px;
	padding: 5px;
	margin: 5px;
	width: auto;
	
	
	border-radius: 3px;	
	box-shadow: 2px 1px 2px #555555; 
    
	background-color: #fff;
	
	text-align: center;
}

.actionMenu .action{
	font-family: 'LibraRegular', "Palatino Linotype", "Book Antiqua3", Palatino, serif;
	font-size: 10pt;
	border-style: solid;
	border-width: 1px;
	border-color: #999;
	margin: 2px;
	border-radius: 10px;
}

.action:hover{		
	border-color: #000;
	box-shadow: 2px 1px 2px #555555;     
}

.contextMenu .action{
	font-family: 'AloisLightRegular', "Palatino Linotype", "Book Antiqua3", Palatino, serif;
	font-size: 9pt;
	border-style: solid;
	border-width: 1px;
	border-color: transparent;
	
	padding: 2px 2px 2px 2px; 
	border-radius: 5px;
	display: block;
}

.contextMenu .action.nevermind{
	font-weight: bold;
}

/*What's new button highlighted*/
.action.highlight
{
	background-color: #eaa;
}

.characterSheet { 
	position: relative;
	border-style: solid;
	border-width: 1px;
	padding: 15px;
	margin: 15px;
	max-width: 620px;
	width: 100%;
	min-height: 920px;	
	border-radius: 10px;	
	box-shadow: 3px 2px 3px #555555;     
	display: block;
}

.characterSheet section
{
	border: 2px solid transparent;		
}
.characterSheet section:hover:not(.noHighlight)
{
	border: 2px dashed #555;
	border-radius: 5px;	
}

.characterSheet .statBlock
{
    white-space: nowrap;
    width: 49%;
    float: left;
}

.characterSheet .statBlock label,
.characterSheet .statBlock input,
.characterSheet .statBlock .input
{    
    width: auto;
    display: inline-block;
    padding: 1px;
    margin: 2px;
}

.characterSheet hr
{
    border-style: none;	
    clear: both;
}


.characterSheet.front .basicInformationTable{
	width: 90%;	
}

.characterSheet .basicInformationTable td
{
	white-space: nowrap;
}

.characterSheet .basicInformationTable .cell,
.characterSheet .basicInformationTable input,
.characterSheet .basicInformationTable .input
{	
	white-space: nowrap;		
}

.characterSheet .basicInformationTable .labelCell
{
	width: auto;	
}

.characterSheet .basicInformationTable .inputCell
{
	width: 100%;
	min-width: 100px;
}

.characterSheet.back .basicInformationTable
{
	border-collapse: collapse;
	border-spacing: 0;
}

.characterSheet  input, 
.characterSheet .input
{
	font-family: 'AloisLightRegular', "Palatino Linotype", "Book Antiqua3", Palatino, serif;
	font-size: 12pt;
	border-style: solid;
	border-color: transparent;
	width: 100%;
	border-width: 2px;
}

.characterSheet  input:hover:not([readonly]), 
.characterSheet  .input:hover:not([readonly]) 
{
	border-bottom-color: #000;	
}
.characterSheet.back .basicInformationTable 
{
	border-collapse: collapse;	
}
.characterSheet.back .basicInformationTable  input,
.characterSheet.back .basicInformationTable  td
{
	padding: 0;
	margin: 0;
}

.characterSheet.back .basicInformationTable.coinTable  input
{
	width: 4em;
}
.characterSheet.back .basicInformationTable.fellowshipTable 
{
	width: 100%;
}

.characterSheet.back .basicInformationTable.fellowshipTable input
{
	width: 6em;
}

.characterSheet.back .basicInformationTable.fellowshipPhaseTable 
{
	width: 100%;
}

.characterSheet.back .basicInformationTable.fellowshipPhaseTable input
{
	width: 100%;
}

.characterSheet.back .inventory .inventoryTable
{
	width: 100%;	
}
.characterSheet.back .inventory .inventoryTable  .inventoryEntry
{
	padding-right: 5px;
	width: 49%;
	float: left;
}
.characterSheet.back .inventory .inventoryTable  .inventoryEntry input
{
	width: 100%;
}

.taleOfYearsTable,
.taleOfYearsTable tr,
.taleOfYearsTable td
{
	border-spacing: 0;
	border-collapse: collapse;
	padding: 0;
}
.taleOfYearsTable tr,
.taleOfYearsTable td
{
	height: 16px;
	padding-left: 2px;
}

.taleOfYearsTable .input,
.taleOfYearsTable input,
div.inventory .input
{
	border: 0px none transparent;
	border-bottom: 1px solid #000;
}

.taleOfYearsTable .yearTale td.year
{
	width: 20%;
}

.taleOfYearsTable .yearTale td.events
{
	width: 80%;
}
.taleOfYearsTable .yearTale .year.input
{
	width: 100% !important;
	height: 1em;
}

.taleOfYearsTable .yearTale .events.input
{
	width: 100% !important;
	height: 1em;
}


.characterSheet label {
	font-family: 'TolkienesqueRegular', "Book Antiqua3", Palatino, serif;
	font-size: 12pt;	
}
.alternateFont .characterSheet label {
	font-family: 'AloisLightRegular', "Palatino Linotype", "Book Antiqua3", Palatino, serif;	
}
.alternateFont .statNameCell
{
	font-weight: bold;
}

.characterSheet label.narrowLabel {
	font-size: 12pt;	
	letter-spacing: -1px
}
.narrow {	
	letter-spacing: -1px
}

.characterSheet .labelCell{
	text-align: right;
}

.characterSheet .heading{
	font-family: 'aaaorRegular';
	font-size: 18pt;
	font-variant: small-caps;
	text-align: center;
}

.characterSheet .headingMinor{
	font-family: 'aaaorRegular';
	font-size: 14pt;
	font-variant: small-caps;
	text-align: center;
}
.characterSheet .attributeContainerBox{
	position: relative; 
	height: 60px;	
}
.characterSheet .attributeContainerBox .attributeBox{
	position: relative;		
	display: inline-block;
	margin: 0 20px 0 70px;
}

.characterSheet .attributeContainerBox > .attributeBox > input
{
	z-index: 1;
	position: relative;		
	width: 45px;
	height: 45px;
	border-style: double; 
	border-color: #000;
	border-width: 5px;
	border-radius: 25px;
	vertical-align: middle;
	text-align: center;	
	font-size: 1.7em;
	line-height: 1.7em;
	overflow: visible;
}

.characterSheet .attributeContainerBox .attributeBox > label{
	position: absolute;
	top: 25%;	
	right: 60px;	
}

.characterSheet .attributeContainerBox .favouredAttributeBox
{
	z-index: 2;
	position: absolute;
	top: -5px;	
	right: -25px;	
}

.characterSheet .attributeContainerBox .favouredAttributeBox > input{
	z-index: 3;
	font-size: 1em;	
	line-height: 1em;
	width: 30px;
	height: 30px;
	border-style: solid; 
	border-color: #000;
	border-width: 2px;
	border-radius: 15px;
	vertical-align: middle;
	text-align: center;
	background-color: #fff;
}

.characterSheet .attributeContainerBox .favouredAttributeBox > label{
	position: absolute;
	top: 0;	
	left: 40px;
	text-align: left;
	font-size: 10pt;
	letter-spacing: -1px;
}

.characterSheet .skillTable,
.characterSheet #weaponSkillsTable,
.characterSheet #weaponGearTable
{
	line-height: 25%;
}

.characterSheet .skillTable
{
	width: 100%;
}


.characterSheet .skillsBox .skillNameCell
{
	font-family: 'TolkienesqueRegular', "Book Antiqua3", Palatino, serif;
	font-size: 8pt;
	text-align: right;
	/*padding-left: 10px;*/
}
.alternateFont .characterSheet .skillsBox .skillNameCell
{
	font-family: 'AloisLightRegular', "Palatino Linotype", "Book Antiqua3", Palatino, serif;	
}

.skillNameCell.favoured,
.skillName.favoured
{
	text-decoration: underline;
}

.characterSheet .skillsBox .skillGroupNameCell
{
	font-family: 'TolkienesqueRegular', "Book Antiqua3", Palatino, serif;
	font-size: 8pt;
	text-align: right;
	padding-left: 15px;
	letter-spacing: -1px;	
}
.alternateFont .characterSheet .skillsBox .skillGroupNameCell
{
	font-family: 'AloisLightRegular', "Palatino Linotype", "Book Antiqua3", Palatino, serif;	
}

.headingMinor.skillGroupsCell
{
	text-align: right;
}

.characterSheet .skillsBox .skillRankCell
{	
	text-align: center;	
}

.characterSheet .skillsBox .skillGroupAdvancementCell
{	
	font-size: 18pt;
	text-align: center;	
	letter-spacing: -3px;
}

.characterSheet .weaponSkillsBox
{
	position: relative;	
}

.characterSheet .weaponGearBox .weaponGearStatCell input:hover
{	
	border-bottom-color: #000;
}

.characterSheet .weaponSkillsBox .weaponSkill
{	
	width: 30%;
	display: inline-block;
	white-space: nowrap;
}

.characterSheet .weaponSkillsBox .weaponSkill .skillNameCell,
.characterSheet .weaponSkillsBox .weaponSkill .skillRankCell
{	
	width: 50%;
	display: inline-block;	
	vertical-align: middle;
}

.characterSheet .weaponSkillsBox .weaponSkill .skillRankCell
{
	font-size: 0;
}

.characterSheet .weaponSkillsBox .skillNameCell .input,
.characterSheet .weaponGearBox .weaponGearNameCell .input
{
	font-family: 'AloisLightRegular', "Palatino Linotype", "Book Antiqua3", Palatino, serif;
	font-size: 10pt;
	width: auto;
	height: 18px;
	vertical-align: middle;
	line-height: 10px;
	text-align: right;
	white-space: normal;
}

.characterSheet .weaponSkillsBox .skillNameCell .input.favoured,
.characterSheet .weaponGearBox .weaponGearNameCell .input.favoured
{
	text-decoration: underline;
}

.characterSheet .weaponSkillsBox .statNameCell,
.characterSheet .weaponGearBox .statNameCell
{
	font-family: 'TolkienesqueRegular', "Book Antiqua3", Palatino, serif;
	font-size: 10pt;
	text-align: left;
	padding-left: 15px;
	text-align: right;
}
.alternateFont .characterSheet .weaponSkillsBox .statNameCell,
.alternateFont .characterSheet .weaponGearBox .statNameCell
{
	font-family: 'AloisLightRegular', "Palatino Linotype", "Book Antiqua3", Palatino, serif;
	
}
.characterSheet .weaponSkillsBox td,
.characterSheet .weaponGearBox td
{
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

.skillRankIcons {
	font-size: 0;
}
.skillRankIcon {
	display: inline-block;
	width: 10px;
	height: 15px;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;	
}

.characterSheet .skillGroupIcon {
	display: inline-block;
	width: 10px;
	height: 15px;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;	
}


.skillRankIcon img, .skillGroupIcon img{
	width: 10px;
	height: 15px;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
	border: 0 none transparent;
}

.characterSheet section.virtuesRewards{
	width: 100%;
	position: relative;
	min-height: 60px;	
}
.characterSheet section.virtuesRewards > section{
	display: inline-block;	
	min-height: 60px;
	width: 49%;	
	float: left;
}

.characterSheet section.rewards .input, 
.characterSheet section.virtues .input
{
	width: 100%;
	border-style: none;
	font-family: 'AloisLightRegular', "Palatino Linotype", "Book Antiqua3", Palatino, serif;
	font-size: 14px;
	min-height: 55px;
}

.characterSheet .localizable.hascomment
{
    border-right: 5px solid #afa;
    cursor: help;
}
.characterSheet .localizable.hastarget
{
    border-bottom: 1px dotted #000;
}
.characterSheet .rewardVirtueItem:after
{
    content: ',';
}

.characterSheet .rewardVirtueItem .target
{	
    display: none;
	font-size: 12px;
	color: #ba2;		
	text-shadow: 1px 1px 0px #000;
}
.characterSheet .rewardVirtueItem:hover .target
{
    display: inline-block;
}

.characterSheet .target:before
{		
	content: '(';
}
.characterSheet .target:after
{		
	content: ')';		
}

.characterSheet .commentText
{	
    display: none;	
}

.characterSheet section.gear,
.characterSheet section.status
{
	width: 49%;
	display: inline-block;
	min-height: 100px;
	vertical-align: top;
}

.characterSheet section.gear label{
	font-family: 'TolkienesqueRegular', "Book Antiqua3", Palatino, serif;
	font-size: 10pt;	
	padding-left: 5px;	
}
.alternateFont .characterSheet section.gear label{
	font-family: 'AloisLightRegular', "Palatino Linotype", "Book Antiqua3", Palatino, serif;	
}
.characterSheet section.gear td{
	border-width: 0px;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
	text-align: right;
}

.characterSheet section.gear input,
.characterSheet section.gear .input{
	font-family: 'AloisLightRegular', "Palatino Linotype", "Book Antiqua3", Palatino, serif;
	font-size: 10pt;
	text-align: center;
	height: 16px;
	width: 140px;
	border-width: 0px 0px 1px 0px;	
}

.characterSheet section.gear input.gearEnc{	
	width: 20px;
}

.characterSheet section.status
{	
	text-align: right;
}
.characterSheet section.main
{
	/*float: left;*/
	width: 80%;
	min-width: 500px;
	display: inline-block;
	vertical-align: top;
}
.characterSheet aside.misc
{
	position: relative;
	/*float: right;*/
	display: inline-block;
	width: 18%;
}

.characterSheet .roundStatBox{
	position: relative;	
	width: 50px;
	height: 50px;		
	vertical-align: middle;
	text-align: center;	
	margin: 30px 20px 40px 70px;
	display: inline-block;
}

.characterSheet aside.misc .roundStatBox,
.characterSheet section.progress .roundStatBox
{	
	margin-bottom: 20px;
}

.characterSheet .roundStatBox > input{
	z-index: 1;
	width: 100%;
	height: 100%;
	/*padding: 10px 0 10px 0;*/
	font-size: 20pt;	
	line-height: 50px;
	text-align: center;
	background-color: transparent;
	border-style: solid; 
	border-color: #000;
	border-width: 2px;
	border-radius: 25px;
	vertical-align: middle;	
}

.characterSheet .roundStatBox > label{
	position: absolute;
	top: -30px;	
	left: -33px;
	font-size: 12pt;	
	width: 100px;
	height: 30px;
	text-align: center;
	white-space:nowrap
}


.characterSheet .subRoundStatBox{
	z-index: 2;
	position: absolute;
}

.characterSheet .subRoundStatBox > input{
	z-index: 3;
	width: 30px;
	height: 30px;
	line-height: 30px;
	font-size: 14pt;	
	text-align: center;
	border-style: solid; 
	border-color: #000;
	border-width: 2px;
	border-radius: 15px;
	vertical-align: middle;
	text-align: center;
	background-color: #fff;
}


.characterSheet .subRoundStatBox label{
	position: absolute;
	top: 0px;	
	right: 37px;
	text-align: right;
	font-size: 8pt;
	letter-spacing: -1px;
	height: 35px;
	width: 55px;	
	line-height: 95%;
}

.characterSheet .subRoundStatBox.top{
	top: -10px;	
}
.characterSheet .subRoundStatBox.bottom{
	bottom: -10px;	
}
.characterSheet .subRoundStatBox.left{
	left: -20px;
}
.characterSheet .subRoundStatBox.right{
	right: -20px;
}

.characterSheet .subRoundStatBox.subbottom{
	bottom: -40px;	
}

.characterSheet .subRoundStatBox.right label{
	top: 35px;
	left: -10px;
	text-align: left;
}

.characterSheet .conditions .statusBox
{
	display: block;
}

.characterSheet .conditions .statusBox .checkbox
{
	font-family: 'AloisLightRegular', "Palatino Linotype", "Book Antiqua3", Palatino, serif;
	position: relative;		
	display: inline-block;	
	vertical-align: middle;
}

.characterSheet .statusBox input[type=checkbox],
.characterSheet input[type=checkbox].statusBox
{
	width: 1em;
	height: 1em;		
}

.characterSheet .statusBox label
{
	font-family: 'TolkienesqueRegular', "Book Antiqua3", Palatino, serif;
	font-size: 11pt;
	line-height: 95%;		
	text-align: right;	
	letter-spacing: -1px;
	height: 20px;
	width: 80px;		
	display: inline-block;
}
.alternateFont .characterSheet .statusBox label
{
	font-family: 'AloisLightRegular', "Palatino Linotype", "Book Antiqua3", Palatino, serif;	
}

.characterSheet section.background textarea.input,
.characterSheet section.company textarea.input
{
	font-size: .75em;
}

/* iPad tweaks */
@media only screen and (max-device-width: 1024px) 
{
	input
	{
		-webkit-appearance: none;
	}

	.characterSheet .attributeContainerBox .favouredAttributeBox input{
		/*font-size: 10pt;*/
		-webkit-appearance: none;
	}

	.characterSheet .roundStatBox > input{
		/*font-size: 18pt;*/
		-webkit-appearance: none;
	}

	.characterSheet .subRoundStatBox input{
		/*font-size: 10pt;*/
		-webkit-appearance: none;
	}

}



.tooltipDiv.popupTooltips
{
	z-index: 75;
	padding: 10px 10px 10px 10px;
	position: absolute;
	width: 550px;
	left: 0;
	top: 0;
	background-color: #fff;
	border-color: #000;
	box-shadow: 0px 0px 10px #000; 
	border-radius: 5px;
	font-family: 'AloisLightRegular', "Palatino Linotype", "Book Antiqua3", Palatino, serif;
	font-size: 10pt;
	border-style: none;
	border-width: 1px;
}


.tooltipDiv.popupButtons
{
	z-index: 75;
	padding: 1px 1px 1px 1px;
	position: absolute;		
}

.action.encouragedButton, .selector.encouragedButton{	
	border-width: 2px;
}

.action.discouragedButton, .selector.discouragedButton{
	border-style: dotted;	
}

/*.localizable{
	border-style: solid;
	border-width: 1px;
	border-color: #ddd;
	border-radius: 5px;	
}*/
.localizable:hover{
	text-shadow:2px 2px 8px #000000;
}

.commentText
{    
	font-size: 9pt;
	letter-spacing: -1px;
	text-shadow:0px 0px 0px #000000;
}
.commentText:before
{    
    content: '(';
}
.commentText:after
{
    content: ')';
}

#rollerDiv{
	top: 550px;
}
#rollerDiv span, 
#rollerDiv label
{
	font-family: 'AloisLightRegular', "Palatino Linotype", "Book Antiqua3", Palatino, serif;
	font-size: 10pt;
}
#rollerDiv .action{
	padding: 2px 2px 2px 2px;
	margin: 0 0 0 0;
}

#rollerDiv  #rollerControlsDiv > div{
	display: inline-block;
	vertical-align: middle;
	text-align: left;
}

#rollerDiv .successDiv div{
	display: inline-block;	
}

#rollerDiv input{
	font-family: 'AloisLightRegular', "Palatino Linotype", "Book Antiqua3", Palatino, serif;
	font-size: 10pt;
	width: 25px;
}

#rollerResultsDiv{
	vertical-align: middle;
}

.dieDiv
{
	display: inline-block;
	text-align: center;	
	height: 32px;
	width: 32px;
	margin: 1px 1px 1px 1px;
	padding: 0 0 0 0;
	font-family: 'aaaorRegular', Arial, Helvetica, serif;
	font-size: 18pt;
	background-repeat: no-repeat;
	background-position:center center;
	line-height:32px;		
	vertical-align: middle;
}


.dieDiv.d6DieDiv
{
	background-image:url('d6.png');
}

.dieDiv.d12DieDiv
{
	background-image:url('d12.png');
}

.dieDiv.d12DieDiv.discarded
{
	background-image:url('d12discarded.png');
}


#rollerTotal img{
	width: 16px;
	height: 16px;
}

.rollerTitle
{
	display: inline-block;
	font-family: 'aaaorRegular', "Palatino Linotype", "Book Antiqua3", Palatino, serif;
	font-variant: small-caps;
	font-size: 12pt;
}

#onlineCharacterList{
	max-width: 750px;
	max-height: 250px;
	overflow-y: auto;
}
#onlineCharacterListLoadingIndicator
{
	position: absolute;
	top: 120px;
	left: 275px;
	text-align: center;
	z-index: 100;
}
#onlineDiv
{
	top: 10px;
	left: 10px;
	width: 700px;
	max-width: 750px;
}
#onlineDiv .characterSection
{
	position: relative;
	height: 350px;
}

#onlineDiv .characterList
{	
	position: absolute;
	display: inline-block;
	width: 75%;	
	top: 0;
	left: 0;
	font-size: 10pt;
}

#onlineDiv .characterControls
{
	top: 0;
	right: 0;
	position: absolute;
	display: inline-block;
	width: 25%;
}
#onlineCharacterList
{
	border: 2px solid #000;
	border-radius: 10px 0 0 10px;
	min-height: 300px;
}
#onlineDiv .header{
	cursor: move;
}

#onlineDiv .input{
	font-family: 'AloisLightRegular', "Palatino Linotype", "Book Antiqua3", Palatino, serif;
	font-size: 12pt;
	border-style: solid;	
	border-width: 2px;
	border-radius: 12px;
	border-top-color: #999;
	border-bottom-color: #ddd;
	border-left-color: #999;
	border-right-color: #ddd;
	padding: 0px 6px 0px 6px;
}

#onlineOnlineExplanationButton,
#onlineRegisterButton
{
	float: right;
}

.actions
{
	white-space: nowrap;
}

#chatDiv{
	position: absolute;
	width: 400px;
	height: 300px;
	left: 100px;
	top: 100px;
}

#chatDiv input{
	font-family: 'AloisLightRegular', "Palatino Linotype", "Book Antiqua3", Palatino, serif;
	font-size: 12pt;
	border-style: solid;	
	border-width: 2px;
	border-radius: 12px;
	border-top-color: #999;
	border-bottom-color: #ddd;
	border-left-color: #999;
	border-right-color: #ddd;
	padding: 0px 6px 0px 6px;
}

#chatDiv #chatAliasLabel{
	font-family: 'AloisLightRegular', "Palatino Linotype", "Book Antiqua3", Palatino, serif;
	font-size: 12pt;
	position: absolute; 
	top: 15px;
	left: 15px;	
}

#chatDiv #chatCloseButton{
	position: absolute; 
	top: 10px;
	right: 10px;	
}

#chatDiv #chatAliasInput{
	position: absolute; 
	top: 10px;
	left: 90px;
	right: 90px;
}

#chatDiv #chatMessageInput{
	position: absolute; 
	bottom: 5px;
	left: 10px;
	width: 95%;
	right: 10px;	
}

#chatDiv #chatDragHandle{
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	height: 40px;
	cursor: move;
}

#chatDiv  #chatContentsDiv{
	border-width: 2px;
	border-style: solid;
	border-color: #000;
	border-radius: 15px 0 0 15px;
	position: absolute;
	left: 5px;
	right: 5px;
	top: 40px;
	bottom: 35px;
	overflow-y: auto;
	overflow: auto;
}

.chatMessage{
	display: block;
}
.chatMessage fieldset{
	border-top-style: solid;
	border-left-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-width: 1px;
	border-color: #555;
	display: block;
}

.chatMessage fieldset legend{
	border-style: none;
	font-family: 'AloisLightRegular', "Palatino Linotype", "Book Antiqua3", Palatino, serif;
	font-size: 8pt;

}

.chatMessage fieldset legend .chatMessageDateSpan{
	display: none;
}

.chatMessage fieldset:hover legend .chatMessageDateSpan{
	display: inline;
}

.logoContainer{
	text-align: center;
}

.logoContainer img{
	width: 150px;
}

#helpDiv
{
	position: absolute;
	top: 10px;
	left: 10px;	
	padding: 15px;
	min-height: 200px;
	width: 100%;
}

#helpDiv .helpText
{
	font-family: 'AloisLightRegular', "Palatino Linotype", "Book Antiqua3", Palatino, serif;				
}
#helpDiv .helpTextContainer
{
	font-family: 'AloisLightRegular', "Palatino Linotype", "Book Antiqua3", Palatino, serif;				
	overflow-y: scroll;
	height: 100%;
}

#helpDiv fieldset
{	
	margin-top: 10px;
	padding: 10px;	
	height: 80%;
}


.helpButton
{
	cursor: pointer;
	color: #aaa;	
	border: 1px solid transparent;
	display: inline-block;
	border-radius: 20px;
	min-width: 10px;
	text-align: center;
	font-family: 'AloisLightRegular', "Palatino Linotype", "Book Antiqua3", Palatino, serif;
	font-size: 8pt;
}

.helpButton:hover,
.helpButton.floating
{	
	border: 1px solid #aaa;
	background-color: #eee;
	color: #000;
	box-shadow: 2px 1px 2px #555555;     
}

.notification
{
	position: absolute;	
	background-color: #ee8;
	left: 0;
	top: 0;
	z-index: 100;
}

#changesDiv 
{
	top: 0px;
	left: 0px;
	width: 100%;
}

#changesDiv .textContainer
{
	overflow-y: scroll;
	max-height: 400px;
}

.noPrint > input,
.noPrint > img
{	
	opacity: 0.1;
}

.tutorialHighlight
{
	box-shadow: 0 0 50px #000;	
}
.tutorialHighlight.blink
{
	box-shadow: 0 0 10px #000;	
}

.tutorialSlideWindow legend
{
	background-color: #cc9;
	cursor: move;
}
.tutorialSlideWindow 
{
	left: 0px;
	top: 0px;
	width: auto;
	height: auto;
	background-color: #eea;	
}

.slicknav_menu
{
    z-index: 100;
    font-family: 'AloisLightRegular', "Palatino Linotype", "Book Antiqua3", Palatino, serif;    
}

.slicknav_menu {
	display:none;
}

#globalmenu
{
    font-family: 'LibraRegular', "Palatino Linotype", "Book Antiqua3", Palatino, serif; 
    font-size: 16pt;
    text-transform: capitalize;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    z-index: 100;        
    -webkit-margin-before: 0;
    -webkit-padding-start: 0;       
    overflow: hidden;
    padding: 0;
    margin: 0;
    list-style: none;
    border: 2px solid #000;
    border-radius: 10px;
    background-image: url(g.png);
    background-position: center center;
}

#globalmenu > li
{
	display: none;	
}

#globalmenu:hover
{
    width: auto;
    height: auto;
    border: 0 none transparent;
    background-image: none;
    border-radius: 0;
}

#globalmenu a,
#globalmenu span
{
	background: #7d7e7d; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPHJhZGlhbEdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjUwJSIgcj0iNzUlIj4KICAgIDxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiM3ZDdlN2QiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMGUwZTBlIiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L3JhZGlhbEdyYWRpZW50PgogIDxyZWN0IHg9Ii01MCIgeT0iLTUwIiB3aWR0aD0iMTAxIiBoZWlnaHQ9IjEwMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-radial-gradient(center, ellipse cover,  #7d7e7d 0%, #0e0e0e 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#7d7e7d), color-stop(100%,#0e0e0e)); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover,  #7d7e7d 0%,#0e0e0e 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover,  #7d7e7d 0%,#0e0e0e 100%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover,  #7d7e7d 0%,#0e0e0e 100%); /* IE10+ */
	background: radial-gradient(ellipse at center,  #7d7e7d 0%,#0e0e0e 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7e7d', endColorstr='#0e0e0e',GradientType=1 ); /* IE6-8 fallback on horizontal gradient */
    
    color: #ddd;
    /*opacity: 1;*/
    display: inline-block;
    padding: 2px 3px;
    /*margin: 0 2px;        */
    min-width: 5em;
    text-align: center;
    vertical-align: middle;
    border: 2px solid #666;
    border-radius: 5px;    
    min-height: 1.5em; 
    line-height: 1.5em;   
    text-decoration: none;
}

#globalmenu a:hover,
#globalmenu span:hover
{
	background: #a0a0a0; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPHJhZGlhbEdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjUwJSIgcj0iNzUlIj4KICAgIDxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiNhMGEwYTAiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMzMzMzMzIiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L3JhZGlhbEdyYWRpZW50PgogIDxyZWN0IHg9Ii01MCIgeT0iLTUwIiB3aWR0aD0iMTAxIiBoZWlnaHQ9IjEwMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-radial-gradient(center, ellipse cover, #a0a0a0 0%, #333333 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#a0a0a0), color-stop(100%,#333333)); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover, #a0a0a0 0%,#333333 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover, #a0a0a0 0%,#333333 100%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover, #a0a0a0 0%,#333333 100%); /* IE10+ */
	background: radial-gradient(ellipse at center, #a0a0a0 0%,#333333 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a0a0a0', endColorstr='#333333',GradientType=1 ); /* IE6-8 fallback on horizontal gradient */
}

#globalmenu li,
#globalmenu ul
{
    display: none;
    list-style: none;    
    padding: 0;
    margin: 0;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-padding-start: 0;  
    position: relative;                   
}
#globalmenu li > ul
{
    background-image: url(menubackground.png);
    background-repeat: repeat-x;
    background-position: left center;
}

#globalmenu li > a > img,
#globalmenu li > span > img,
.slicknav_nav a > img,
.slicknav_nav span > img
{
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    margin-right: .5em;
}

#globalmenu:hover > li
{
    display: block;    
    position: relative;
}


#globalmenu li:hover > ul,
#globalmenu li:hover > ul > li
{
    display: inline-block;    
}

@media screen and (max-width: 40em) {	
	.js #globalmenu {
		display:none;
	}
	
	.js .slicknav_menu {
		display:block;
	}
}



.serverConnect .info
{
    display: inline-block;
    width: 8em;
    text-align: right;
    padding-right: .5em;
}