@page {
    size: A4;
    margin: 1em 0 0 0;
}
*{
    box-shadow: 0 0 0 0 transparent !important;
}
.actionMenu 
{
	display: none;
}
.characterSheet {	
	border-style: none;
	border-width: 0;	
	padding: 0;
	margin: auto;	
	border-radius: 0;			
	
}

.characterSheet input
{
	font-family: 'AloisLightRegular', Palatino Linotype, Book Antiqua3, Palatino, serif;
	font-size: 10pt;
}
.characterSheet label {
	font-family: 'TolkienesqueRegular', Book Antiqua3, Palatino, serif;
	font-size: 12pt;	
}
.alternateFont .characterSheet label {
	font-family: 'AloisLightRegular', Palatino Linotype, Book Antiqua3, Palatino, serif;	
}

.characterSheet label.narrowLabel {
	font-size: 8pt;		
}

.characterSheet .heading,
.characterSheet .headingMinor
{
	font-family: 'LibraRegular';
}

.characterSheet .attributeContainerBox > .attributeBox > input
{	
	border-style: solid; 	
}

.characterSheet.back
{
	page-break-before: always;
}

.characterSheet .commentText
{
    display: inline-block;
}
.characterSheet .rewardVirtueItem.hascomment .localizable,
.localizable.hascomment
{
    border-right: 0px none transparent;
}

.noPrint > input,
.noPrint > img
{
	display: none;
}