
.wizardWindow,
.tutorialSlideWindow
{
	position: absolute;
	
	z-index: 50;
	max-width: 1000px;
	left: 100px;
	top: 100px;
	border-style: solid;
	border-width: 2px;
	padding: 5px;
	margin: 5px;
	
	
	border-radius: 20px;	
	box-shadow: 3px 2px 3px #555555; 
    
	background-color: #fff;
	
}

.wizardWindow fieldset,
fieldset.tutorialSlideWindow
{	
	border-style: solid;
	border-width: 2px;
	border-color: #000;
	padding: 5px;
	margin: 5px;		
	
	border-radius: 10px;
	vertical-align: middle;
	font-family: 'AloisLightRegular', "Palatino Linotype", "Book Antiqua3", Palatino, serif;
}
.wizardWindow fieldset legend,
.tutorialSlideWindow legend
{
	border-style: solid;
	border-width: 2px;
	border-color: #000;	
	background-color: #fff;
	font-family: 'LibraRegular', "Palatino Linotype", "Book Antiqua3", Palatino, serif;
	
	border-radius: 10px;		
}

.wizardWindow button,
.tutorialSlideWindow button
{
	cursor: pointer;
	padding: 3px 10px 3px 10px;
	margin: 3px 10px 3px 10px;
	display: inline-block;
	border-style: solid;
	border-width: 2px;
	border-color: #000;	
	width: auto;
	background-color: #fff;
	font-family: 'LibraRegular', "Palatino Linotype", "Book Antiqua3", Palatino, serif;	
	font-size: 12pt;
	border-radius: 10px;
	text-align: center;
	box-shadow: 1px 1px 3px #000;
}

.wizardWindow label,
.alternateFont .characterSheet label,
.tutorialSlideWindow label
{
	font-weight: bold;
}

.wizardWindow button.previous,
.tutorialSlideWindow button.previous
{
	background-color: #eea;
	float: left;
}
.wizardWindow button.next,
.tutorialSlideWindow button.next
{
	background-color: #aae;
	float: right;
}
.wizardWindow button.cancel,
.tutorialSlideWindow button.cancel
{
	background-color: #eaa;
	float: left;
}

.wizardWindow .selector
{
	padding: 3px 3px 3px 3px;
	margin: 3px 3px 3px 3px;
	display: inline-block;
	border-style: solid;
	border-width: 1px;
	border-color: #000;	
	width: auto;
	background-color: #fff;
	font-family: 'AloisLightRegular', "Palatino Linotype", "Book Antiqua3", Palatino, serif;
	font-size: 10pt;
	border-radius: 10px;
	text-align: center;
}



.wizardWindow button:hover, .wizardWindow .selector:hover{		
	border-color: #000;
	background-color: #ddd;	
}

.wizardWindow .selector.selected
{	
	box-shadow: 0px 0px 20px #000; 
}

.wizardWindow .cultureSelectionButton, 
.wizardWindow .backgroundButtonDiv, 
.wizardWindow .callingButton
{
	width: 300px;	
	vertical-align: middle;
}

.callingButton.suggested
{	
	border-width: 2px;
}

.callingButton.unusual
{
	border-style: dotted;	
}
.wizardWindow .title
{
    font-weight: bold;
    text-decoration: underline;
}

.wizardWindow .info
{
    white-space: nowrap;
}

table.favouredAttribute
{
	text-align: center;	
}

table.favouredAttribute th
{
	max-width: 10em;
}


table.favouredAttribute .attributeShift
{
	font-size: 2em;
}

#wizardCultureButtonsDiv
{
    height: 400px;
    width: 350px;
    padding: 5px;
    overflow-y: scroll;
}