	<!-- Character Sheet -->
	<div class="characterSheet front">			
        <section ="main">
			<div class="logoContainer">
				<img src="css/TorLogoEn.jpg" />
			</div>
			<section class="main">
                <div class="statBlock">
                    <label class='uiText' for="name" data-textKey="uiName"></label>
                    <input type="text" id="name" rv-value="pj.name | urlEncode" />
                </div>
                <div class="statBlock">
                    <label class="uiText" for="culture" data-textKey="uiCulture"></label>
                    <div class="input narrow localizable" id="culture" 
                        rv-data-textKey="pj.traits.culture" 
                        rv-text="pj.traits.culture | localize"></div>
                </div>
                <div class="statBlock">
					<label class="narrowLabel uiText" for="culturalBlessing" data-textKey="uiCulturalblessing"></label>
					<div class="input localizable" id="culturalBlessing" 
                        rv-data-textKey="pj.traits.culturalBlessing" 
                        rv-text="pj.traits.culturalBlessing | localize"
                        rv-on-click="menus.simpleCommentMenu"></div>
                </div>                
                <div class="statBlock">
                	<label class="uiText" for="calling" data-textKey="uiCalling"></label>
					<div class="input localizable" id="calling" 
                        rv-data-textKey="pj.traits.calling" 
                        rv-text="pj.traits.calling | localize"></div>
                </div>
                <div class="statBlock">
					<label class="narrowLabel uiText" for="standard" data-textKey="uiStandardofLiving"></label>
					<div class="input localizable" id="standard" 
                        rv-data-textKey="pj.stats.standard" 
                        rv-text="pj.stats.standard | localize" 
                        rv-on-click="menus.standardOfLivingMenu"></div>
                </div>

                <div class="statBlock">
                	<label class="narrowLabel uiText" for="shadowWeakness" data-textKey="uiShadowweakness"></label>
					<div class="input narrow localizable" id="shadowWeakness" 
                        rv-data-textKey="pj.traits.shadowWeakness" 
                        rv-text="pj.traits.shadowWeakness | localize">
                    </div>
                </div>
                <hr />
            </section>
            <section class="traits">
			    <div class="heading uiText" data-textKey="uiTraits"></div>
			    <table class="basicInformationTable">
				    <tr>
					    <td class="labelCell cell">
						    <label class="narrowLabel uiText"  data-textKey="uiSpecialties"></label>
					    </td>		
					    <td class="inputCell cell">
						    <div class="input" id="specialtiesInput">
                                <span rv-each-specialty="pj.traits.specialties">
                                    <span class="localizable" rv-data-textKey="specialty" rv-text="specialty | localize"></span>,                                
                                </span>
                            </div>
					    </td>
				    </tr>
				    <tr>
					    <td class="labelCell cell">
						    <label class="narrowLabel uiText"  data-textKey="uiDistinctivefeatures"></label>
					    </td>		
					    <td class="inputCell cell">
						    <div class="input" id="distinctiveFeaturesInput" rv-on-click="menus.featuresMenu">
                                <span rv-each-feature="pj.traits.features">
                                    <span class="localizable" rv-data-textKey="feature" rv-text="feature | localize" rv-on-click="menus.changeFeatureMenu"></span>,
                                </span>
                            </div>
					    </td>
				    </tr>
			    </table>
			</section>
            <section class="attributes">
                <div class="heading uiText" data-textKey="uiAttributes">
				    uiAttributes
			    </div>
			    <div class="attributeContainerBox">		
					    <div class="bodyBox attributeBox">
						    <label class="localizable"  data-textKey="body">body</label>
						    <input type="text" id="bodyScoreInput" rv-value="pj.stats.attributes.base.body" />
					        <div class="favouredBodyBox favouredAttributeBox">
						        <label class="uiText"  data-textKey="uiFavoured">uiFavoured</label>
						        <input type="text" id="favouredBodyScoreInput" rv-value="pj.stats.attributes.favoured.body"/>
					        </div>
                        </div>
					    		
					
					    <div class="heartBox attributeBox">
						    <label class="localizable"  data-textKey="heart">heart</label>
						    <input type="text" id="heartScoreInput" rv-value="pj.stats.attributes.base.heart"/>
					        <div class="favouredHeartBox favouredAttributeBox">
						        <label  class="uiText"  data-textKey="uiFavoured">uiFavoured</label>
						        <input type="text" id="favouredHeartScoreInput" rv-value="pj.stats.attributes.favoured.heart"/>
					        </div>		
                        </div>
					    
					
					    <div class="witsBox attributeBox">
						    <label class="localizable"  data-textKey="wits">wits</label>
						    <input type="text" id="witsScoreInput" rv-value="pj.stats.attributes.base.wits"/>
                            <div class="favouredWitsBox favouredAttributeBox">
						        <label class="uiText"  data-textKey="uiFavoured">uiFavoured</label>
						        <input type="text" id="favouredWitsScoreInput" rv-value="pj.stats.attributes.favoured.wits"/>
					        </div>		
					    </div>
					    
			    </div>
			</section>
            <section class="skills noHighlight">
                <section class="common">
			        <div class="heading uiText" data-textKey="uiCommonSkills"></div>
			        <div class="skillsBox">
				        <table class="skillTable">				
				        </table>
			        </div>
                </section>
                <section class="weapon" rv-on-click="menus.simpleAddWeaponSkillMenu">
			        <div class="heading uiText" data-textKey="uiWeaponSkills"></div>
			        <div class="weaponSkillsBox">
				        <div rv-each-ws="pj.skills.weapon" class="weaponSkill">
                            <div class="skillNameCell">
                                <div class="input weaponSkillNameInput localizable" 
                                    rv-data-textKey="ws.id" 
                                    rv-text="ws.id | localize" 
                                    rv-class-favoured="ws.favoured"
                                    rv-on-click="menus.weaponSkillMenu"></div>
                            </div>
                            <div class="skillRankCell" rv-weaponskillrank="ws.rank">
                                <div class="skillRankIcon" rv-data-weaponskill="ws.id" data-rank="1"><img /></div>
                                <div class="skillRankIcon" rv-data-weaponskill="ws.id" data-rank="2"><img /></div>
                                <div class="skillRankIcon" rv-data-weaponskill="ws.id" data-rank="3"><img /></div>
                                <div class="skillRankIcon" rv-data-weaponskill="ws.id" data-rank="4"><img /></div>
                                <div class="skillRankIcon" rv-data-weaponskill="ws.id" data-rank="5"><img /></div>
                                <div class="skillRankIcon" rv-data-weaponskill="ws.id" data-rank="6"><img /></div>
                            </div>
                        </div>
                    </div>
                </section>
            </section>
            <section class="virtuesRewards noHighlight">
				<section class="rewards">
					<div class="heading uiText" data-textKey="uiRewards">
						uiRewards
					</div>
					<div class="rewardsContent" >				
						<div class="input" rv-on-click="menus.rewardsMenu">
                            <span rv-each-reward="pj.belongings.rewards">
                                <span class="localizable" 
                                    rv-data-textkey="reward" 
                                    rv-on-click="menus.oneVirtueRewardMenu"                                    
                                    rv-text="reward | localize"></span>
                                <span rv-text="controller.getComment"></span>, 
                            </span>
                        </div>
					</div>
				</section>
				<section class="virtues">
					<div class="heading uiText" data-textKey="uiVirtues">
						uiVirtues
					</div>
					<div class="virtuesContent">				
						<div class="input" rv-on-click="menus.virtuesMenu">
                            <span rv-each-virtue="pj.traits.virtues" class="localizable" rv-data-textkey="virtue" rv-on-click="menus.oneVirtueRewardMenu">{virtue | localize}, </span>
                        </div>
					</div>
				</section>
                <hr />
            </section>
			
            <section class="weaponGear" rv-on-click="menus.simpleAddWeaponMenu">            
                <div class="weaponGearBox">
				    <div class="heading uiText" data-textKey="uiGear"></div>
				    <table id="weaponGearTable">
                        <tr rv-each-weapon="pj.belongings.weaponGear">
                            <td class="weaponGearStatCell">
                                <input type="checkbox" class='weaponGearCarriedStatus statusBox' rv-checked="weapon.carried" rv-on-change="controller.onEncChanged"/>                            
                            </td>
                            <td class="weaponGearNameCell">
                                <div class='input weaponGearNameInput localizable' 
                                    rv-data-textKey="weapon.id" 
                                    rv-text="weapon.id | localize"                                
                                    rv-on-click="menus.weaponGearMenu"></div>
                            </td>
                            <td class="statNameCell uiText" data-textkey="uiWSDamage"></td>
                            <td class="weaponGearStatCell">
                                <input type='text' class='weaponGearDamageInput' rv-value="weapon.stats.damage" />
                            </td>
                            <td class="statNameCell uiText" data-textkey="uiWSEdge"></td>
                            <td class="weaponGearStatCell">
                                <input type='text' class='weaponGearEdgeInput'  rv-value="weapon.stats.edge" />
                            </td>
                            <td class="statNameCell uiText" data-textkey="uiWSInjury"></td>
                            <td class="weaponGearStatCell">
                                <input type='text' class='weaponGearEdgeInput'  rv-value="weapon.stats.injury" />
                            </td>
                            <td class="statNameCell uiText" data-textkey="uiEnc"></td>
                            <td class="weaponGearStatCell">
                                <input type='text' class='weaponGearEdgeInput'  rv-value="weapon.stats.enc" rv-on-change="controller.onEncChanged" />
                            </td>
                        </tr>
				    </table>
			    </div>
            </section>
        </section>
        <aside class="misc">
        	<div class="roundStatBox" data-stat="experience">
				<label class="uiText"  data-textKey="uiExperience"></label>
				<input type="text" rv-value="pj.progress.experience" />
				<div class="top left subRoundStatBox" stat="total">
					<label class="uiText"  data-textKey="uiTotal"></label>
					<input type="text" rv-value="pj.progress.total" />
				</div>
			</div>  
            <div class="roundStatBox" data-stat="valour">
				<label class="uiText"  data-textKey="uiValour"></label>
				<input type="text" rv-value="pj.stats.valour" />		
			</div>
			<div class="roundStatBox" data-stat="wisdom">
				<label class="uiText"  data-textKey="uiWisdom"></label>
				<input type="text" rv-value="pj.stats.wisdom" />		
			</div>
			<div class="roundStatBox" data-stat="damage">
				<label class="uiText"  data-textKey="uiDamage"></label>
				<input type="text" rv-value="pj.status.damage" />
				<div class="bottom left subRoundStatBox" stat="ranged">
					<label class="uiText"  data-textKey="uiRanged"></label>
					<input type="text" rv-value="pj.status.ranged" />
				</div>
			</div>
			<div class="roundStatBox" data-stat="parry">
				<label class="uiText"  data-textKey="uiParry"></label>
				<input type="text" rv-value="pj.status.armour" />
				<div class="bottom left subRoundStatBox" stat="shield">
					<label class="uiText"  data-textKey="uiShield"></label>
					<input type="text" rv-value="pj.status.armour" />
				</div>
			</div>
            <div class="roundStatBox" data-stat="armour">
				<label class="uiText" data-textKey="uiArmour"></label>
				<input type="text" rv-value="pj.status.armour" />
				<div class="bottom left subRoundStatBox" stat="headgear">
					<label class="uiText"  data-textKey="uiHeadgear"></label>
					<input type="text" rv-value="pj.status.headgear" />
				</div>
			</div>
            
            <div class="conditions">
			    <div  class="statusBox">
				    <label class="uiText" data-textKey="uiWeary"></label>
                    <div class="checkbox">
                        <input type="checkbox" rv-checked="pj.status.weary" />
                    </div>
			    </div>
                <div  class="statusBox">
				    <label class="uiText" data-textKey="uiMiserable"></label>
                    <div class="checkbox">
                        <input type="checkbox" rv-checked="pj.status.miserable" />
                    </div>
			    </div>
                <div  class="statusBox">
				    <label class="uiText" data-textKey="uiWounded"></label>
                    <div class="checkbox">
                        <input type="checkbox" rv-checked="pj.status.wounded" />
                    </div>
			    </div>
                <div  class="statusBox">
				    <label class="uiText" data-textKey="uiWoundTreated"></label>
                    <div class="checkbox">
                        <input type="checkbox" rv-checked="pj.status.woundTreated" />
                    </div>
			    </div>
            </div>
            <div class="commentContainer">
                <div class="comment" rv-each-comment="pj.characterTexts.comments" rv-text="comment.text" rv-data-target="comment.for"></div>
            </div>
        </aside>
        <hr />
        <footer class="gearAndStatus">
			<section class="gear" rv-on-click="menus.simpleAddGearMenu">
				<table class="gearTable">
                    <tr rv-each-gear="pj.belongings.gear">
                        <td class="gearCarried">
                            <input type="checkbox" class='gearCarriedStatus statusBox' rv-checked="gear.carried" rv-on-change="controller.onEncChanged" />
                        </td>
                        <td class="gearLabel">
                            <label rv-text="gear.id | geartype"></label>
                        </td>                        
                        <td>
                            <div class='gearName input localizable narrow' 
                                rv-data-geartype="gear.id | geartype" 
                                rv-data-textKey="gear.id" 
                                rv-text="gear.id | localize"
                                rv-on-click="menus.gearMenu"></div>
                        </td>                        
                        <td class="statNameCell" >
                            <label class="uiText" data-textkey="uiEnc"></label>
                        </td>
                        <td>
                            <input type='text' class='gearEnc' rv-value="gear.enc" rv-on-change="controller.onEncChanged" />
                        </td>
                    </tr>
				</table>		
			</section>
			
            <section class="status">
                <div class="roundStatBox" data-stat="endurance">
				    <label class="uiText" data-textKey="uiEndurance"></label>
				    <input type="text" rv-value="pj.status.endurance" />
				    <div class="top left subRoundStatBox">
					    <label class="uiText" data-textKey="uiEndStartingScore"></label>
					    <input type="text" rv-value="pj.stats.startingEndurance" />
				    </div>
				    <div class="bottom left subRoundStatBox">
					    <label class="uiText" data-textKey="uiFatigue"></label>
					    <input type="text" rv-value="pj.status.fatigue"/>
				    </div>
				    <div class="subbottom left subRoundStatBox" >
					    <label class="uiText" data-textKey="uiFatigueTravel"></label>
					    <input type="text" rv-value="pj.status.fatigueTravel" rv-on-change="controller.onEncChanged" />
				    </div>
				    <div class="bottom right subRoundStatBox" >
					    <label class="uiText" data-textKey="uiFatigueTotal"></label>
					    <input type="text" readonly="readonly" rv-value="pj.status.fatigueTotal" />
				    </div>
		        </div>

			    <div class="roundStatBox" data-stat="hope">
				    <label class="uiText" data-textKey="uiHope"></label>
				    <input type="text" rv-value="pj.status.hope"/>
				    <div class="top left subRoundStatBox" >
					    <label class="uiText" data-textKey="uiHopeStartingScore"></label>
					    <input type="text" rv-value="pj.stats.startingHope"/>
				    </div>
				    <div class="bottom left subRoundStatBox" >
					    <label class="uiText" data-textKey="uiShadow"></label>
					    <input type="text" rv-value="pj.status.shadow" rv-on-change="controller.onShadowChanged"/>
				    </div>
				    <div class="subbottom left subRoundStatBox" >
					    <label class="uiText" data-textKey="uipermanentShadow"></label>
					    <input type="text" rv-value="pj.status.permanentShadow" rv-on-change="controller.onShadowChanged"/>
				    </div>
				    <div class="bottom right subRoundStatBox" >
					    <label class="uiText" data-textKey="uitotalShadow"></label>
					    <input type="text" readonly="readonly" rv-value="pj.status.totalShadow" />
				    </div>
			    </div>			
            </section>
        </footer>

	</div>
