		<!-- Character Sheet -->
		<div class="characterSheet front">
			<input type="hidden" id="edition" value="" />
			<div class="logoContainer">
				<img src="css/TorLogoEn.jpg" />
			</div>
			<table class="basicInformationTable">
				<tr>
					<td>
						<table>
							<tr>
								<td class="labelCell cell">
									<label class='uiText' data-textKey="uiName">uiName</label>
								</td>
								<td class="inputCell cell">
									<input type="text" id="nameInput" rv-value="pj.name" />
								</td>
							</tr>
						</table>
					</td>
				</tr>
				<tr>
					<td>
						<table>
							<tr>
								<td class="labelCell cell">
									<label class="uiText"  data-textKey="uiCulture">uiCulture</label>
								</td>
								<td class="inputCell cell">
									<div class="input narrow" id="cultureInput" rv-text="pj.traits.culture | localize"></div>
								</td>
								<td class="labelCell cell">
									<label class="narrowLabel uiText"  data-textKey="uiStandardofLiving">uiStandardofLiving</label>
								</td>
								<td class="inputCell cell">
									<div class="input" id="standardInput" rv-text="pj.stats.standard | localize"></div>
								</td>
							</tr>
						</table>
					</td>
				</tr>
				<tr>
					<td>
						<table>
							<tr>
								<td class="labelCell cell">
									<label class="narrowLabel uiText"  data-textKey="uiCulturalblessing">uiCulturalblessing</label>
								</td>
								<td class="inputCell cell">
									<div class="input" id="culturalBlessingInput" rv-text="pj.traits.culturalBlessing | localize"></div>
								</td>
							</tr>
						</table>
					</td>
				</tr>
				<tr>
					<td>
						<table>
							<tr>
								<td class="labelCell cell">
									<label class="uiText"  data-textKey="uiCalling">uiCalling</label>
								</td>
								<td class="inputCell cell">
									<div class="input" id="callingInput" rv-text="pj.traits.calling | localize"></div>
								</td>
								<td class="labelCell cell">
									<label class="narrowLabel uiText"  data-textKey="uiShadowweakness">uiShadowweakness</label>
								</td>
								<td class="inputCell cell">
									<div class="input narrow" id="shadowWeaknessInput" rv-text="pj.traits.shadowWeakness | localize"></div>
								</td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
			<div class="heading uiText" data-textKey="uiTraits">
				uiTraits
			</div>
			<table class="basicInformationTable">
				<tr>
					<td class="labelCell cell">
						<label class="narrowLabel uiText"  data-textKey="uiSpecialties">uiSpecialties</label>
					</td>		
					<td class="inputCell cell">
						<div class="input" id="specialtiesInput">
                            <span rv-each-specialty="pj.traits.specialties" class="localizable" rv-data-textKey="specialty">{specialty | localize}, </span>
                        </div>
					</td>
				</tr>
				<tr>
					<td class="labelCell cell">
						<label class="narrowLabel uiText"  data-textKey="uiDistinctivefeatures">uiDistinctivefeatures</label>
					</td>		
					<td class="inputCell cell">
						<div class="input" id="distinctiveFeaturesInput" >
                            <span rv-each-feature="pj.traits.features" class="localizable" rv-data-textKey="feature">{feature | localize}, </span>
                        </div>
					</td>
				</tr>
			</table>
			<div class="heading uiText" data-textKey="uiAttributes">
				uiAttributes
			</div>
			<div class="attributeContainerBox">		
					<div class="bodyBox attributeBox" attribute="body">
						<label class="localizable"  data-textKey="body">body</label>
						<input type="text" id="bodyScoreInput" rv-value="pj.stats.attributes.base.body" />
					</div>
					<div class="favouredBodyBox favouredAttributeBox" attribute="body">
						<label class="uiText"  data-textKey="uiFavoured">uiFavoured</label>
						<input type="text" id="favouredBodyScoreInput" rv-value="pj.stats.attributes.favoured.body"/>
					</div>		
					
					<div class="heartBox attributeBox" attribute="heart">
						<label class="localizable"  data-textKey="heart">heart</label>
						<input type="text" id="heartScoreInput" rv-value="pj.stats.attributes.base.heart"/>
					</div>
					<div class="favouredHeartBox favouredAttributeBox" attribute="heart">
						<label  class="uiText"  data-textKey="uiFavoured">uiFavoured</label>
						<input type="text" id="favouredHeartScoreInput" rv-value="pj.stats.attributes.favoured.heart"/>
					</div>		
					
					<div class="witsBox attributeBox" attribute="wits">
						<label class="localizable"  data-textKey="wits">wits</label>
						<input type="text" id="witsScoreInput" rv-value="pj.stats.attributes.base.wits"/>
					</div>
					<div class="favouredWitsBox favouredAttributeBox" attribute="wits">
						<label class="uiText"  data-textKey="uiFavoured">uiFavoured</label>
						<input type="text" id="favouredWitsScoreInput" rv-value="pj.stats.attributes.favoured.wits"/>
					</div>		
			</div>
			
			<div class="heading uiText" data-textKey="uiCommonSkills">
				uiCommonSkills
			</div>
			<div class="skillsBox">
				<table class="skillTable">
					
				</table>
			</div>
			<div class="heading uiText" data-textKey="uiWeaponSkills">
				uiWeaponSkills
			</div>
			<div class="weaponSkillsBox">
				<div rv-each-ws="pj.getWeaponSkills" class="weaponSkill">
                    <div class="skillNameCell">
                        <div class="input weaponSkillNameInput" rv-text="ws.id | localize" rv-class-favoured="ws.favoured"></div>
                    </div>
                    <div class="skillRankCell" rv-weaponskillrank="ws.rank">
                        <div class="skillRankIcon" rv-data-weaponskill="ws.id" data-rank="1"><img /></div>
                        <div class="skillRankIcon" rv-data-weaponskill="ws.id" data-rank="2"><img /></div>
                        <div class="skillRankIcon" rv-data-weaponskill="ws.id" data-rank="3"><img /></div>
                        <div class="skillRankIcon" rv-data-weaponskill="ws.id" data-rank="4"><img /></div>
                        <div class="skillRankIcon" rv-data-weaponskill="ws.id" data-rank="5"><img /></div>
                        <div class="skillRankIcon" rv-data-weaponskill="ws.id" data-rank="6"><img /></div>
                    </div>
                </div>
            </div>
			<div class="virtuesRewardsContainer">
				<div class="rewardsContainer">
					<div class="heading uiText" data-textKey="uiRewards">
						uiRewards
					</div>
					<div class="rewardsContent" >				
						<div class="input"></div>
					</div>
				</div>
				<div class="virtuesContainer">
					<div class="heading uiText" data-textKey="uiVirtues">
						uiVirtues
					</div>
					<div class="virtuesContent" >				
						<div class="input"></div>
					</div>
				</div>
			</div>
			<div class="weaponGearBox">
				<div class="heading uiText" data-textKey="uiGear">
					uiGear
				</div>
				<table id="weaponGearTable">
				</table>
			</div>
			<div class="gearContainer">
				<table class="gearTable">
				</table>		
			</div>
			
			<div class="roundStatBox" stat="endurance">
				<label class="uiText"  data-textKey="uiEndurance">uiEndurance</label>
				<input type="text" />
				<div class="top left subRoundStatBox" stat="startingEndurance">
					<label class="uiText"  data-textKey="uiEndStartingScore">uiEndStartingScore</label>
					<input type="text" />
				</div>
				<div class="bottom left subRoundStatBox" stat="fatigue">
					<label class="uiText"  data-textKey="uiFatigue">uiFatigue</label>
					<input type="text" />
				</div>
				<div class="subbottom left subRoundStatBox" stat="fatigueTravel">
					<label class="uiText"  data-textKey="uiFatigueTravel">uiFatigueTravel</label>
					<input type="text" />
				</div>
				<div class="bottom right subRoundStatBox" stat="fatigueTotal">
					<label class="uiText"  data-textKey="uiFatigueTotal">uiFatigueTotal</label>
					<input type="text" readonly="readonly" />
				</div>

		</div>
			<div class="roundStatBox" stat="hope">
				<label class="uiText"  data-textKey="uiHope">uiHope</label>
				<input type="text" />
				<div class="top left subRoundStatBox" stat="startingHope">
					<label class="uiText"  data-textKey="uiHopeStartingScore">uiHopeStartingScore</label>
					<input type="text" />
				</div>
				<div class="bottom left subRoundStatBox" stat="shadow">
					<label class="uiText"  data-textKey="uiShadow">uiShadow</label>
					<input type="text" />
				</div>
				<div class="subbottom left subRoundStatBox" stat="permanentShadow">
					<label class="uiText"  data-textKey="uipermanentShadow">uipermanentShadow</label>
					<input type="text" />
				</div>
				<div class="bottom right subRoundStatBox" stat="totalShadow">
					<label class="uiText"  data-textKey="uitotalShadow">uitotalShadow</label>
					<input type="text" readonly="readonly" />
				</div>
			</div>
			<div class="roundStatBox" stat="armour">
				<label class="uiText"  data-textKey="uiArmour">uiArmour</label>
				<input type="text" />
				<div class="bottom left subRoundStatBox" stat="headgear">
					<label class="uiText"  data-textKey="uiHeadgear">uiHeadgear</label>
					<input type="text" />
				</div>
			</div>

			<div class="roundStatBox" stat="parry">
				<label class="uiText"  data-textKey="uiParry">uiParry</label>
				<input type="text" />
				<div class="bottom left subRoundStatBox" stat="shield">
					<label class="uiText"  data-textKey="uiShield">uiShield</label>
					<input type="text" />
				</div>
			</div>
			<div class="roundStatBox" stat="damage">
				<label class="uiText"  data-textKey="uiDamage">uiDamage</label>
				<input type="text" />
				<div class="bottom left subRoundStatBox" stat="ranged">
					<label class="uiText"  data-textKey="uiRanged">uiRanged</label>
					<input type="text" />
				</div>
			</div>
			<div class="roundStatBox" stat="wisdom">
				<label class="uiText"  data-textKey="uiWisdom">uiWisdom</label>
				<input type="text" />		
			</div>
			<div class="roundStatBox" stat="valour">
				<label class="uiText"  data-textKey="uiValour">uiValour</label>
				<input type="text" />		
			</div>
			<div class="roundStatBox" stat="experience">
				<label class="uiText"  data-textKey="uiExperience">uiExperience</label>
				<input type="text" />
				<div class="top left subRoundStatBox" stat="total">
					<label class="uiText"  data-textKey="uiTotal">uiTotal</label>
					<input type="text" />
				</div>
			</div>

			<div class="statusBox" stat="weary">
				<label class="uiText"  data-textKey="uiWeary">uiWeary</label>
			</div>
			<div class="statusBox" stat="miserable">
				<label class="uiText"  data-textKey="uiMiserable">uiMiserable</label>
			</div>
			<div class="statusBox" stat="wounded">
				<label class="uiText"  data-textKey="uiWounded">uiWounded</label>
			</div>
			<div class="statusBox" stat="woundTreated">
				<label class="uiText"  data-textKey="uiWoundTreated">uiWoundTreated</label>
			</div>
		</div>
