<div class="wizardWindow additionalTraitStep">
	<fieldset>
		<legend class="uiText" data-textKey="uiAdditionalTraitfromCalling"></legend>
		<span class="uiText" data-textKey="uiATChooseone"></span>
		<div>
            <span class='additionalTraitButton selector localizable' rv-each-trait="traits" 
                rv-data-textKey="trait.name" rv-class-selected="trait.selected" rv-on-click="controller.additionalTraitClick"></span>
        </div>
		<div class="buttonContainer">
			<button class="uiText previous" data-textKey="uiPrevious" rv-on-click="controller.goPrevious"></button>
			<button class="uiText next" data-textKey="uiNext" rv-on-click="controller.goNext" rv-show="controller.selectedAdditionalTrait"></button>
			<button class="uiText cancel" data-textKey="uiCancelCreation" rv-on-click="controller.cancel"></button>
		</div>
	</fieldset>
</div>