		<div id="wizardAdditionalTraitDiv" class="wizardWindow" style="display: none;">
			<fieldset>
				<legend class="uiText"  data-textKey="uiAdditionalTraitfromCalling">uiAdditionalTraitfromCalling</legend>
				<span class="uiText"  data-textKey="uiATChooseone">uiATChooseone</span>
				<div id="wizardAdditionalTraitButtonsDiv"></div>
				<div class="buttonContainer">
					<button id="additionalTraitPrevButton" class="uiText previous"  data-textKey="uiPrevious">uiPrevious</button>
					<button id="additionalTraitNextButton" style="display: none;" class="uiText next"  data-textKey="uiNext">uiNext</button>
					<button class="uiText cancel"  data-textKey="uiCancelCreation">uiCancelCreation</button>
				</div>
				</fieldset>
		</div>
