		<div id="wizardCallingDiv" class="wizardWindow" style="display: none;">
			<fieldset>
				<legend class="uiText"  data-textKey="uiCalling">uiCalling</legend>
				<span class="uiText"  data-textKey="uiCallChooseone">uiCallChooseone</span>
				<div id="wizardCallingButtonsDiv"></div>
				<div class="buttonContainer">
					<button id="callingPrevButton" class="uiText previous"  data-textKey="uiPrevious">uiPrevious</button>
					<button id="callingNextButton" style="display: none;" class="uiText next"  data-textKey="uiNext">uiNext</button>
					<button id="callingNextToAdditionalTraitButton" style="display: none;" class="uiText next"  data-textKey="uiNext">uiNext</button>
					<button class="uiText cancel"  data-textKey="uiCancelCreation">uiCancelCreation</button>
				</div>
			</fieldset>
		</div>
