<div class="wizardWindow">
	<fieldset>
		<legend class="uiText" data-textKey="uiCulture">uiCulture</legend>
		<div id="wizardCultureButtonsDiv">
            <div class='cultureSelectionButton selector' rv-each-culture="cultures"
                rv-data-culture="culture.name">
                <b><u class='localizable' rv-data-textKey="culture.name" rv-text="culture.name | localize"></u></b>
                <br />
                <b class='uiText' data-textKey="uiAge"></b>: {culture.ageMin} - {culture.ageMax}
                <!--
		+ ", <b>" + _loc_("uiStandardofLiving") + "</b> <span class='localizable'>" + $("#internalData .cultures .culture[name=" + cultureName + "] .standardOfLiving").html() + "</span>"
		+ ", <b>" + _loc_("uiCulturalblessing") + "</b> <span class='localizable'>" + $("#internalData .cultures .culture[name=" + cultureName + "] .culturalBlessing div").html() + "</span>"
		);
                $(cultureSelectionDiv).append(", <b>" + _loc_("uiEndurance") + "</b> +" + $("#internalData .cultures .culture[name=" + cultureName + "] .enduranceBonus").attr("value")
		+ ", <b>" + _loc_("uiHope") + "</b> +" + $("#internalData .cultures .culture[name=" + cultureName + "] .hopeBonus").attr("value"));
                var favouredSkill = $("#internalData .cultures .culture[name=" + cultureName + "] .favouredSkill").attr("skill");
                var favouredSkillText = "<br /><b>" + _loc_("uiFavouredSkill") + "</b>: <span class='localizable'>" + favouredSkill + "</span>";
                $(cultureSelectionDiv).append(favouredSkillText);
                var startingSkillScoresText = "<br /><b>" + _loc_("uiStartingSkills") + "</b>: ";
                $("#internalData .cultures .culture[name=" + cultureName + "] .startingSkillScores .skillScore").each(function () {
                    startingSkillScoresText += " <span class='localizable'>" + $(this).attr("skill") + "</span> +" + $(this).attr("score");
                });
                $(cultureSelectionDiv).append(startingSkillScoresText);
                var virtuesText = "<br /><b>" + _loc_("uiUniqueVirtues") + "</b>: ";
                $("#internalData .cultures .culture[name=" + cultureName + "] .virtues .virtue").each(function () {
                    virtuesText += " <span class='localizable'>" + $(this).attr("name") + "</span>";
                });
                var rewardsText = "<br /><b>" + _loc_("uiUniqueRewards") + "</b>: ";
                $("#internalData .cultures .culture[name=" + cultureName + "] .rewards .reward").each(function () {
                    rewardsText += " <span class='localizable'>" + $(this).attr("name") + "</span>";
                });
                $(cultureSelectionDiv).append(virtuesText);
                $(cultureSelectionDiv).append(rewardsText);
                -->
            </div>
        </div>
		<div class="buttonContainer">
			<button id="cultureNextButton" style="display: none;" class="uiText next"  data-textKey="uiNext"></button>
			<button class="uiText cancel" data-textKey="uiCancelCreation" rv-on-click="controller.cancel"></button>
		</div>
	</fieldset>
</div>
