		<div id="wizardFavouredAttributesDiv" class="wizardWindow" style="display: none;">
			<fieldset>
				<legend class="uiText"  data-textKey="uiFavouredAttributes">uiFavouredAttributes</legend>
				<span id="FAChooseTextId"></span>
				<br />
				<span class="uiText"  data-textKey="uiFSChoose3">uiFSChoose3</span>
				<div class="favouredAttributes3Div">
					<div class="favouredAttribute3 selector localizable"  attribute="body" data-textKey="body">body</div>
					<div class="favouredAttribute3 selector localizable"  attribute="heart" data-textKey="heart">heart</div>
					<div class="favouredAttribute3 selector localizable"  attribute="wits" data-textKey="wits">wits</div>
				</div>
				<span class="uiText"  data-textKey="uiFSChoose2">uiFSChoose2</span>
				<div class="favouredAttributes2Div">
					<div class="favouredAttribute2 selector localizable"  attribute="body" data-textKey="body">body</div>
					<div class="favouredAttribute2 selector localizable"  attribute="heart" data-textKey="heart">heart</div>
					<div class="favouredAttribute2 selector localizable"  attribute="wits" data-textKey="wits">wits</div>
				</div>
				<span class="uiText"  data-textKey="uiFSChoose1">uiFSChoose1</span>
				<div class="favouredAttributes1Div">
					<div class="favouredAttribute1 selector localizable"  attribute="body" data-textKey="body">body</div>
					<div class="favouredAttribute1 selector localizable"  attribute="heart" data-textKey="heart">heart</div>
					<div class="favouredAttribute1 selector localizable"  attribute="wits" data-textKey="wits">wits</div>
				</div>		
				
				<div class="buttonContainer">
					<button id="favouredAttributePrevButton" class="uiText previous"  data-textKey="uiPrevious">uiPrevious</button>
					<button id="favouredAttributeNextButton" style="display: none;" class="uiText next"  data-textKey="uiNext">uiNext</button>
					<button class="uiText cancel"  data-textKey="uiCancelCreation">uiCancelCreation</button>
				</div>
			</fieldset>
		</div>
