		<div id="wizardFavouredSkillGroupsDiv" class="wizardWindow" style="display: none;">
			<fieldset>
				<legend class="uiText"  data-textKey="uiFavouredSkills">uiFavouredSkills</legend>
				<span class="uiText"  data-textKey="uiFSGChoosetwo">uiFSGChoosetwo</span>
				<div id="wizardFavouredSkillGroupsButtonsDiv"></div>
				<div class="buttonContainer">
					<button id="favouredSkillGroupsPrevButton" class="uiText previous"  data-textKey="uiPrevious">uiPrevious</button>
					<button id="favouredSkillGroupsNextButton" style="display: none;" class="uiText next"  data-textKey="uiNext">uiNext</button>
					<button class="uiText cancel"  data-textKey="uiCancelCreation">uiCancelCreation</button>
				</div>
			</fieldset>
		</div>
