<div class="wizardWindow favouredAttributesStep">
	<fieldset>
		<legend class="uiText"  data-textKey="uiFavouredAttributes"></legend>
		
		<table class="favouredAttribute">
            <tr>
                <th class="uiText" data-textKey="uiFSChoose3"></th>
                <th class="uiText" data-textKey="uiFSChoose2"></th>
                <th class="uiText" data-textKey="uiFSChoose1"></th>
            </tr>
            <tr>
                <td rv-each-attribute="attributes">
                    <span>
                        <span class="selector attributeShift" rv-on-click="controller.shiftAttributeLeft" rv-show="index | gt 0">«</span>
                        <span rv-text="attribute | localize"></span>                        
                        <span class="selector attributeShift" rv-on-click="controller.shiftAttributeRight" rv-show="index | lt 2">»</span>                        
                    </span>
                </td>
            </tr>            
        </table>
        <div>
            <span class="info">
                <span class="uiText title" data-textKey="uiBody"></span>
                <span rv-text="pj.stats.attributes.base.body"></span>
                (<span class="uiText" data-textKey="uiFavoured"></span>
                <span rv-text="pj.stats.attributes.favoured.body"></span>)
            </span>
            <span class="info">
                <span class="uiText title" data-textKey="uiHeart"></span>
                <span rv-text="pj.stats.attributes.base.heart"></span>
                (<span class="uiText" data-textKey="uiFavoured"></span>
                <span rv-text="pj.stats.attributes.favoured.heart"></span>)
            </span>
            <span class="info">
                <span class="uiText title" data-textKey="uiWits"></span>
                <span rv-text="pj.stats.attributes.base.wits"></span>
                (<span class="uiText" data-textKey="uiFavoured"></span>
                <span rv-text="pj.stats.attributes.favoured.wits"></span>)
            </span>
        </div>
				
		<div class="buttonContainer">			
            <button class="uiText previous" data-textKey="uiPrevious" rv-on-click="controller.goPrevious"></button>
			<button class="uiText next" data-textKey="uiNext" rv-on-click="controller.goNext"></button>
			<button class="uiText cancel" data-textKey="uiCancelCreation" rv-on-click="controller.cancel"></button>
		</div>
	</fieldset>
</div>