		<div id="wizardPreviousExperienceDiv" class="wizardWindow" style="display: none;">
			<fieldset>
				<legend class="uiText"  data-textKey="uiPrevExp">uiPrevExp</legend>
				<span class="uiText"  data-textKey="uiPXChoose">uiPXChoose</span>
				<div class="remainingXP" XPLeft="10" class="uiText"  data-textKey="uiPX10XPLeft">uiPX10XPLeft</div>
				<div class="rankableSkillsDiv"></div>		
				<div class="buttonContainer">
					<button id="previousExperiencePrevButton" class="uiText previous"  data-textKey="uiPrevious">uiPrevious</button>
					<button id="previousExperienceResetButton" class="uiText reset"  data-textKey="uiReset">uiReset</button>
					<button id="previousExperienceNextButton" class="uiText next"  data-textKey="uiNext">uiNext</button>
					<button class="uiText cancel"  data-textKey="uiCancelCreation">uiCancelCreation</button>
				</div>
			</fieldset>
		</div>
