		<div id="wizardRewardsDiv" class="wizardWindow" style="display: none;">
			<fieldset>
				<legend class="uiText"  data-textKey="uiRewardsQualities">uiRewardsQualities</legend>
				<span class="uiText"  data-textKey="uiRQChoose">uiRQChoose</span>
				<div class="rewardsDiv">
				</div>
				<div class="buttonContainer">
					<button id="rewardsPrevButton" class="uiText previous"  data-textKey="uiPrevious">uiPrevious</button>
					<button id="rewardsNextButton" style="display: none;" class="uiText next"  data-textKey="uiNext">uiNext</button>
					<button class="uiText cancel"  data-textKey="uiCancelCreation">uiCancelCreation</button>
				</div>
			</fieldset>
		</div>
