		<div id="wizardSpecialtiesDiv" class="wizardWindow" style="display: none;">
			<fieldset>
				<legend class="uiText"  data-textKey="uiSpecialties">uiSpecialties</legend>
				<span class="uiText"  data-textKey="uiSpeChoosetwo">uiSpeChoosetwo</span>
				<div id="wizardSpecialtiesButtonsDiv"></div>
				<div class="buttonContainer">
					<button id="SpecialtiesPrevButton" class="uiText previous"  data-textKey="uiPrevious">uiPrevious</button>
					<button id="SpecialtiesNextButton" style="display: none;" class="uiText next"  data-textKey="uiNext">uiNext</button>
					<button class="uiText cancel"  data-textKey="uiCancelCreation">uiCancelCreation</button>
				</div>
			</fieldset>
		</div>
