		<div id="wizardValourWisdomDiv" class="wizardWindow" style="display: none;">
			<fieldset>
				<legend class="uiText"  data-textKey="uiValourandWisdom">uiValourandWisdom</legend>
				<span class="uiText"  data-textKey="uiVWChoose">uiVWChoose</span>
				<div class="valourWisdomDiv">
					<div class="valourWisdomSelector selector uiText"  attribute="valour" data-textKey="uiVWValour2">uiVWValour2</div>
					<div class="valourWisdomSelector selector uiText"  attribute="wisdom" data-textKey="uiVWWisdom2">uiVWWisdom2</div>
				</div>
				<div class="buttonContainer">
					<button id="valourWisdomPrevButton" class="uiText previous"  data-textKey="uiPrevious">uiPrevious</button>
					<button id="valourWisdomNextButton" style="display: none;" class="uiText next"  data-textKey="uiNext">uiNext</button>
					<button class="uiText cancel"  data-textKey="uiCancelCreation">uiCancelCreation</button>
				</div>
			</fieldset>
		</div>
