<div class="wizardWindow valorWisdomStep">
	<fieldset>
		<legend class="uiText" data-textKey="uiValourandWisdom"></legend>
		<span class="uiText" data-textKey="uiVWChoose"></span>
		<div class="valourWisdomDiv">
			<div rv-each-selection="selections" class="valourWisdomSelector selector uiText" 
                rv-data-textKey="selection.key" rv-class-selected="selection.selected" rv-on-click="controller.valourWisdomClick"></div>
		</div>
		<div class="buttonContainer">
            <button class="uiText previous" data-textKey="uiPrevious" rv-on-click="controller.goPrevious"></button>
			<button class="uiText next" data-textKey="uiNext" rv-on-click="controller.goNext" rv-show="controller.showToValor < valourWisdomSelection"></button>
            <button class="uiText next" data-textKey="uiNext" rv-on-click="controller.goNextSkipOne" rv-show="controller.showToWisdom < valourWisdomSelection"></button>
			<button class="uiText cancel" data-textKey="uiCancelCreation" rv-on-click="controller.cancel"></button>
		</div>
	</fieldset>
</div>