<div class="wizardWindow wsPackStep">
	<fieldset>
		<legend class="uiText" data-textKey="uiWeaponSkillPackage">uiWeaponSkillPackage</legend>
		<span class="uiText"  data-textKey="uiWSPChooseone">uiWSPChooseone</span>
		<div id="wizardWeaponSkillsPackageButtonsDiv"></div>
		<div class="buttonContainer">
			<button id="weaponSkillsPackagePrevButton" class="uiText previous"  data-textKey="uiPrevious">uiPrevious</button>
			<button id="weaponSkillsPackageNextButton" style="display: none;" class="uiText next"  data-textKey="uiNext">uiNext</button>
			<button class="uiText cancel"  data-textKey="uiCancelCreation">uiCancelCreation</button>
		</div>
	</fieldset>
</div>