<div class="wizardWindow serverConnect">
	<fieldset>
		<legend class="uiText" data-textKey="uiOnlineTitle"></legend>
		<div>
            <span class="info">
                <label class='uiText' data-textKey="uiUsername"></label>
            </span>
            <input type="text" class="input username" rv-value="controller.username" />
        </div>
        <div>
            <span class="info">
                <label class='uiText' data-textKey="uiPassword"></label>
            </span>
            <input type="password" class="input password" rv-value="controller.password" />
        </div>
        <div>
            <span class="info">
                <label class='uiText' data-textKey="uiChatAlias"></label>
            </span>
            <input type="text" class="input alias" rv-value="controller.alias" />
        </div>
		<div class="buttonContainer">
			<button class="uiText next" data-textKey="uiNext" rv-on-click="controller.connectClick" rv-show="controller.isValid < username password alias"></button>
            <button class="uiText" data-textKey="uiRegister" rv-on-click="controller.registerClick"></button>
			<button class="uiText cancel" data-textKey="uiClose" rv-on-click="controller.cancelClick"></button>
		</div>
	</fieldset>
</div>
