<div class="wizardWindow serverConnect">
	<fieldset>
		<legend class="uiText" data-textKey="uiOnlineCharacters"></legend>
        <div>
            <button class="uiText" data-textKey="uiOnlineGetMyCharacters" rv-on-click="controller.loadMineClick"></button>		
			<button class="uiText" data-textKey="uiOnlineGetPublicCharacters" rv-on-click="controller.loadAllClick"></button>
        </div>

		<div class="characterList">
            <div>
                <span class="uiText" data-textKey="uiOnlineCharacterList"></span>:
            </div>			
			<div>
				<div id="onlineCharacterListLoadingIndicator" rv-show="controller.isLoading" class="uiText selector" data-textKey="uiLoading"></div>
				<div id="onlineCharacterList">
                    <table rv-hide="controller.isLoading">
                        <tr rv-each-character="controller.characters" rv-data-characterId="character.id" rv-class-selected="character.selected" rv-on-click="controller.characterRowClick">
                            <td>
                                <span class="name" rv-text="character.name"></span>
                            </td>
                            <td>
                                <span class="culture" rv-text="character.culture | localize"></span>
                            </td>
                            <td>
                                <span class="calling" rv-text="character.calling | localize"></span>
                            </td>                            
                            <td>
                                <span class="user" rv-text="character.user"></span>
                            </td>
                        </tr>
                    </table>
                </div>
				<div id="onlineMessageBox" rv-text="controller.message"></div>
			</div>						
		</div>

		<div class="buttonContainer">
			<button class="uiText next" data-textKey="uiLoadOnlineCharacter" rv-on-click="controller.loadClick" rv-show="controller.selectedCharacter"></button>            
            <button class="uiText" data-textKey="uiDeleteOnlineCharacter" rv-on-click="controller.deleteClick" rv-show="controller.selectedCharacter" rv-disabled="controller.readOnly"></button>            
			<button class="uiText cancel" data-textKey="uiClose" rv-on-click="controller.cancelClick"></button>
		</div>
	</fieldset>
</div>
